@charset "UTF-8";
img {
  max-width: 100%;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: "Zen Maru Gothic", serif;
  color: #464646;
}
body p {
  line-height: 3rem;
}

.title {
  font-family: "Yusei Magic", serif;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
  z-index: 500;
}

.heading {
  color: #45afd8;
  font-size: 8rem;
}

.lead {
  /* color: #464646; */
  font-size: 2.4rem;
}

.flex__item {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 10000;
}

.header__logo {
  padding-top: 15px;
  padding-left: 8%;
  width: 80%;
  position: absolute;
}

.header__logo img {
  width: 500px;
}

/*                   */
/* nav               */
/*                   */
.menu {
  position: fixed;
  top: 0;
  right: -100%;
  /* right: 0; */
  width: 50%;
  height: 1200px;
  background-image: url(../img/bgi_hamburger.png);
  background-repeat: no-repeat;
  text-align: center;
  transition: right 0.3s ease; /* スライドインのアニメーション */
  z-index: 10000;
}

.header__menu {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}

/* メニューが開いているとき */
.menu.open {
  right: 0;
}

.hamburger {
  position: fixed;
  top: 17px;
  right: 25px;
  width: 50px;
  /* cursor: pointer; */
  z-index: 10000;
}

.hamburger span {
  color: #fff;
  display: block;
  height: 3px;
  width: 100%;
  background-color: #fff;
  margin: 15px 0;
  /* transition: 0.4s; */
}

/* バツ印に変化するスタイル */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(10px, 10px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(16px, -16px);
}

/* メニューリストのスタイル */
.nav__list {
  margin: 25% auto;
}

.nav__list a {
  color: #fff;
  font-family: "Yusei Magic", serif;
  font-size: 3.2rem;
}

.nav__list li:nth-child(6) p {
  padding-bottom: 100px;
}
.nav__list li:nth-child(7) {
  padding-bottom: 25px;
}
.nav__list li:nth-child(7) a {
  font-size: 3.6rem;
}
.nav__list li:nth-child(8) a {
  font-size: 2rem;
  color: #464646;
}

.nav__lead {
  color: #464646;
  font-size: 1.8rem;
  padding-top: 5px;
  padding-bottom: 30px;
}

.nav__list p {
  color: #464646;
  font-size: 1.8rem;
  /* padding-top: 15px; */
}

.nav__tel {
  margin: 15px 0;
}

/* MV */
.catchphrase {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-10%, -50%);
  z-index: 20;
}

.slide__1 {
  background-image: url(../img/mv_slide_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: 1200px;
}

.slide__2 {
  background-image: url(../img/mv_slide_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70% top;
  height: 1200px;
}

.slide__3 {
  background-image: url(../img/mv_slide_3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: 1200px;
}

.slide__4 {
  background-image: url(../img/mv_slide_5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  height: 1200px;
}

/* mvスライドショー */
.slideshow__container {
  position: relative;
  width: 100%;
  height: 1200px;
  /* max-width: 1100px; */
  margin: auto;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1200px;
  opacity: 0;
  visibility: visible; /* 常に表示状態（opacityで表示・非表示を制御） */
  transition: opacity 2s ease-in-out; /* opacity の遷移 */
}

.active {
  opacity: 1; /* 表示中のスライド */
  /* visibility: visible; */
  transition: opacity 2s ease-in-out; /* 透明度の遷移 */
}

/* NEWS */
.news {
  background-image: url(../img/bgi_suisai2.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  position: relative;
}

.news__title {
  font-family: "Yusei Magic", serif;
  text-align: center;
  position: relative;
  z-index: 500;
}

.news__contents {
  align-items: center;
  padding-top: 140px;
  padding-bottom: 140px;
}

.news__list {
  font-family: "Yusei Magic", serif;
  width: 75%;
  position: relative;
  z-index: 500;
}
.news__list li {
  display: flex;
  justify-content: space-between;
  gap: 5%;
  align-items: center;
  padding-bottom: 40px;
}
.news__list li:last-of-type {
  padding-bottom: 0;
}
.news__list span {
  font-size: 1.8rem;
}
.news__list em {
  font-size: 1.8rem;
  font-style: normal;
  background-color: #fafabb;
  width: 180px;
  padding: 5px 5px;
  border-radius: 20px;
  /* margin: 0 10%; */
  text-align: center;
}
.news__list p {
  font-size: 2rem;
}

/* Feature */
.feature {
  position: relative;
  z-index: 5;
}

.feature__item {
  display: flex;
  position: relative;
  margin-bottom: 50px;
}

.feature__item--right {
  flex-direction: row-reverse;
}

.item__title {
  color: #45afd8;
  font-size: 2.4rem;
  padding-bottom: 30px;
  font-weight: bold;
}

.item__text {
  /* color: #464646; */
  font-size: 1.8rem;
  line-height: 2.5rem;
}

.feature__box {
  background-image: url(../img/bgi_suisai2_small.png);
  border-radius: 20px;
  width: 85%;
  height: auto;
  min-height: 436px;
  max-height: 440px;
  padding: 5% 4% 5% 42%;
  position: absolute;
  right: 0;
  top: 50px;
  z-index: 5;
}

.box {
  z-index: 5;
}

.feature__box--right {
  padding: 5% 42% 5% 4%;
  left: 0;
}

.feature__img {
  width: 54%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  z-index: 6;
  padding-bottom: 20%;
}
.feature__img img {
  border-radius: 20px;
  z-index: 20;
  position: relative;
}

/* Medical */
.medical__item__title {
  color: #45afd8;
  font-size: 2.2rem;
  padding: 15px 0;
  font-weight: bold;
}

.medical__item__text {
  /* color: #464646; */
  font-size: 1.6rem;
  display: flex;
  justify-content: left;
}

.medical {
  position: relative;
  background-image: url(../img/bgi_suisai2.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  height: auto;
}

.medical__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  gap: 60px 1%;
  padding-bottom: 105px;
  position: relative;
  z-index: 7;
}

.medical__item {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  width: 230px;
  /* min-width: 100px;
  max-width: 250px; */
  min-height: 320px;
  padding: 20px 15px;
}

.medical__item__list {
  text-align: left;
  list-style-type: disc;
  padding-left: 15px;
  line-height: 1.6;
}

.greeting {
  position: relative;
}

.greeting__item {
  display: flex;
  position: relative;
  z-index: 5;
  margin-bottom: 50px;
}

.greeting__textbox {
  background-image: url(../img/bgi_suisai2.png);
  background-position: left bottom;
  border-radius: 20px;
  width: 90%;
  height: auto;
  min-height: 436px;
  padding: 4% 38% 4% 4%;
  position: absolute;
  left: 0;
  top: 30px;
  z-index: 1;
}
.greeting__textbox .greeting__text {
  font-size: 2.2rem;
  padding-bottom: 30px;
}
.greeting__textbox .greeting__name {
  font-size: 3rem;
}
.greeting__textbox .greeting__name .greeting__name__clinic {
  font-size: 2.2rem;
  padding-right: 15px;
}
.greeting__textbox .greeting__name .greeting__name__carr {
  font-size: 1.8rem;
  padding-right: 15px;
}

.greeting__img {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  z-index: 2;
  margin-bottom: 200px;
  position: relative;
  right: 0;
  width: 45%;
}
.greeting__img img {
  width: 100%;
  height: 606px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 90% 0;
     object-position: 90% 0;
  border-radius: 20px;
}

.scroll {
  position: relative;
  width: 100%;
  overflow: hidden; /* スライド外の画像は隠す */
  margin: auto;
  white-space: nowrap;
  background-image: url(../img/bgi_suisai2.png);
}

.scroll__container {
  display: flex;
  width: 200%;
  animation: scroll 30s linear infinite; /* 横スクロールアニメーション */
}

.scroll__item {
  flex: 0 0 auto; /*横並びに固定*/
  width: 300px;
}

.scroll__item img {
  width: 98%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* scrollアニメーション */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.access {
  position: relative;
  background-image: url(../img/bgi_suisai2.png);
  background-position: left bottom;
  font-family: "Yusei Magic", serif;
  text-align: center;
  padding-bottom: 100px;
}
.access .access__flex {
  gap: 3%;
}

.access__item__left,
.access__item__right {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  padding: 30px;
  width: 47%;
}

.access__item__left .access__logo img {
  padding-bottom: 25px;
}
.access__item__left .access__address .tel {
  font-size: 3rem;
  padding-bottom: 5px;
}
.access__item__left .access__address .address {
  font-size: 2rem;
  padding-bottom: 15px;
}

.table__wrapper {
  border: #464646 1px solid;
  border-radius: 5px;
  overflow: hidden;
}

.schedule__table {
  width: 100%;
  font-size: 1.8rem;
  line-height: 1.4;
  text-align: center;
}
.schedule__table tr:nth-child(1) {
  background-color: #45afd8;
  color: #fff;
}
.schedule__table tr:nth-child(1) th,
.schedule__table tr:nth-child(1) td {
  border-right: #fff 1px solid;
}
.schedule__table tr:nth-child(1) th:last-child,
.schedule__table tr:nth-child(1) td:last-child {
  border-right: none;
}
.schedule__table tr:nth-child(2) td {
  color: #45afd8;
}
.schedule__table tr:nth-child(3) {
  border-top: #464646 1px dashed;
}
.schedule__table tr:nth-child(3) td {
  color: #45afd8;
}
.schedule__table th {
  width: 30%;
  text-align: center;
  padding: 10px 0;
}
.schedule__table td {
  padding: 10px 0;
}

.schedule__note {
  font-size: 1.8rem;
  padding-top: 10px;
}

.access__item__right {
  position: relative;
  z-index: 8;
}
.access__item__right .access__mapArea {
  position: relative;
}
.access__item__right .access__mapArea .access__map {
  width: 100%;
}
.access__item__right .access__mapArea .access__map iframe {
  width: 100%;
}
.access__item__right .access__mapArea .access__map__btn {
  position: absolute;
  right: 50px;
  bottom: 10px;
}
.access__item__right .access__guide {
  padding-top: 30px;
  font-size: 1.8rem;
  text-align: left;
}
.access__item__right .access__guide li {
  padding-bottom: 10px;
}
.access__item__right .access__guide li:last-child {
  padding-bottom: 0;
}

.footer {
  font-family: "Yusei Magic", serif;
  color: #fff;
}
.footer .footer__nav {
  font-size: 1.8rem;
  background-image: url(../img/bgi_suisai3.png);
  background-position: top left;
  background-repeat: no-repeat;
  padding: 60px 0;
}
.footer .footer__end {
  background-color: #45afd8;
  font-size: 1.4rem;
  text-align: center;
  padding: 30px 0;
}

.footer__flex__item {
  justify-content: space-around;
  align-items: center;
}

.footer__nav__left {
  width: 22%;
}
.footer__nav__left li {
  margin-bottom: 20px;
}
.footer__nav__left li:last-of-type {
  margin-bottom: 0;
}

.footer__nav__medical {
  width: 78%;
  display: flex;
}

.footer__nav__medical_item {
  width: 50%;
  padding-left: 40px;
}
.footer__nav__medical_item p {
  margin-bottom: 15px;
}

.footer__nav__medical__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.footer__nav__medical__list > li {
  min-width: calc((100% - 10px) / 2);
  margin-bottom: 10px;
}

.scroll_fadein {
  opacity: 0;
}

.fadein_animation_start {
  animation-name: fadein_animation;
  animation-delay: 0.3s;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}

@keyframes fadein_animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.slideup {
  transform: translateY(50px);
}

.slidedown {
  transform: translateY(-50px);
}

.slideright {
  transform: translateX(100px);
}

.slideleft {
  transform: translateX(-100px);
}

@keyframes floatUpTop {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-1200px);
  }
}
@keyframes floatUpMiddle {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-2000px);
  }
}
@keyframes floatUpBottom {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-3500px);
  }
}
@keyframes fadeInOUt {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.balloon_1 {
  position: absolute;
  width: 100px;
  top: 50px;
  left: 50px;
  z-index: 6;
  animation: 10s floatUpTop 4s ease-in-out infinite;
}

.balloon_2 {
  width: 200px;
  position: absolute;
  top: 50px;
  right: 30px;
  z-index: 4;
  animation: 15s floatUpMiddle 2s ease-in-out infinite;
}

.balloon_3 {
  width: 200px;
  position: absolute;
  top: 0;
  left: 30px;
  z-index: 2;
  animation: 20s floatUpBottom 0.5s ease-in-out infinite;
}

.balloon_4 {
  width: 100px;
  position: absolute;
  top: 50px;
  right: 30px;
  z-index: 2;
  animation: 30s floatUpBottom 1s ease-in-out infinite;
}

.balloon_5 {
  width: 120px;
  position: absolute;
  top: 50px;
  right: 30px;
  z-index: 6;
  animation: 30s floatUpBottom 1.5s ease-in-out infinite;
}

.balloon_6 {
  width: 120px;
  position: absolute;
  top: 10px;
  left: 30px;
  z-index: 6;
  animation: 25s floatUpMiddle 1s ease-in-out infinite;
}

.balloon_7 {
  width: 100px;
  position: absolute;
  bottom: -350px;
  right: 30px;
  z-index: 6;
  animation: 30s floatUpBottom 1.5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
.floating {
  animation: float 3s ease-in-out infinite;
  position: absolute;
  top: 15px;
  left: 15%;
  width: 150px;
  z-index: 2;
}/*# sourceMappingURL=style.css.map */