@use '../scss/globals/' as *;
// ---------------------
// スクロールイン
// --------------------
.feature__item,
.greeting__item {
  overflow: hidden;
}
.scroll_fadeIn {
  opacity: 0;
}
.fadeIn_animation_start {
  // キーフレームアニメーションを指定
  animation-name: fadeIn_animation;
  // アニメーションの開始時間の遅延
  animation-delay: 0.3s;
  // アニメーションの時間を指定
  animation-duration: 1.5s;
  //アニメーション再生後のスタイルを指定
  animation-fill-mode: both;
}
@keyframes fadeIn_animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.slideUp {
  transform: translateY(50px);
}
.slideDown {
  transform: translateY(-50px);
}
.slideRight {
  transform: translateX(200px); // calc(50vw + 50%)
}

.slideLeft {
  transform: translateX(-200px); //calc(-50vw - 50%)
}

// ---------------------
// scroll
// --------------------

.scroll {
  position: relative;
  width: 100%;
  overflow: hidden; /* スライド外の画像は隠す */
  margin: auto;
  white-space: nowrap;
  background-image: url(../img/bgi_suisai2.png);
}
.scroll__container {
  display: flex;
  width: 200%;
  animation: scroll 30s linear infinite; /* 横スクロールアニメーション */
}

.scroll__item {
  flex: 0 0 auto; /*横並びに固定*/
  width: 300px;
  @include mq(lg) {
    width: 250px;
  }
  @include mq(md) {
    width: 150px;
  }
}
.scroll__item img {
  width: 98%;
  height: 250px;
  object-fit: cover;
  @include mq(lg) {
    height: 225px;
  }
  @include mq(md) {
    height: 125px;
  }
}

/* scrollアニメーション */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

// ---------------------
// バルーン
// --------------------

@keyframes floatUpTop {
  from {
    transform: translateY(0);
    // opacity: 1;
  }
  to {
    transform: translateY(-1200px);
    // opacity: 0;
  }
}
@keyframes floatUpMiddle {
  from {
    transform: translateY(0);
    // opacity: 1;
  }
  to {
    transform: translateY(-2000px);
    // opacity: 0;
  }
}
@keyframes floatUpBottom {
  from {
    transform: translateY(0);
    // opacity: 1;
  }
  to {
    transform: translateY(-3500px);
    // opacity: 0;
  }
}
@keyframes fadeInOUt {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// .balloon {
//   width: 90%;
// }
// News
.balloon_1 img {
  position: absolute;
  width: 100px;
  top: 50px;
  left: 50px;
  z-index: 6;
  animation: 10s floatUpTop 4s ease-in-out infinite;
  @include mq(md) {
    width: 50px;
    animation: 20s floatUpTop 1s ease-in-out infinite;
  }
}
// Feature
.balloon_2 {
  width: 200px;
  position: absolute;
  top: 50px;
  right: 30px;
  z-index: 4;

  animation: 15s floatUpMiddle 2s ease-in-out infinite;
  @include mq(xl) {
    width: 180px;
  }
  @include mq(md) {
    width: 80px;
    animation: 25s floatUpMiddle 0.5s ease-in-out infinite;
  }
}
//Greeting
.balloon_3 {
  width: 200px;
  position: absolute;
  top: 0;
  left: 30px;
  z-index: 2;
  animation: 20s floatUpBottom 0.5s ease-in-out infinite;
  @include mq(xl) {
    width: 180px;
  }
  @include mq(md) {
    width: 80px;
    animation: 30s floatUpBottom 1.5s ease-in-out infinite;
  }
}
.balloon_4 {
  width: 100px;
  position: absolute;
  top: 50px;
  right: 30px;
  z-index: 2;
  animation: 30s floatUpBottom 1s ease-in-out infinite;
  @include mq(md) {
    width: 50px;
    animation: 40s floatUpBottom 2s ease-in-out infinite;
  }
}
// .balloon_4_stop {
//   width: 100px;
//   position: absolute;
//   top: 50px;
//   right: 30px;
//   z-index: 2;
//   animation: 30s fadeInOUt 2s ease-in-out infinite;
// }
.balloon_5 {
  width: 120px;
  position: absolute;
  top: 50px;
  right: 30px;
  z-index: 2;
  animation: 30s floatUpBottom 1.5s ease-in-out infinite;
  @include mq(xl) {
    width: 100px;
  }
  @include mq(md) {
    width: 70px;
    animation: 40s floatUpBottom 2.5s ease-in-out infinite;
  }
}

// Access
.balloon_6 {
  width: 120px;
  position: absolute;
  top: 10px;
  left: 30px;
  z-index: 2;
  animation: 25s floatUpMiddle 1s ease-in-out infinite;
  @include mq(md) {
    width: 70px;
    animation: 35s floatUpMiddle 2s ease-in-out infinite;
  }
}
.balloon_7 {
  width: 100px;
  position: absolute;
  bottom: -250px;
  right: 30px;
  z-index: 2;
  animation: 30s floatUpBottom 1.5s ease-in-out infinite;
  @include mq(xl) {
    bottom: -150px;
  }
  @include mq(md) {
    width: 70px;
    animation: 40s floatUpBottom 3.5s ease-in-out infinite;
  }
}

// ---------------------
// 気球
// --------------------
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

.floating_1 {
  animation: float 3s ease-in-out infinite;
  position: absolute;
  top: 15px;
  left: 15%;
  width: 150px;
  z-index: 2;
  @include mq(xl) {
    top: 30px;
    left: 10%;
    width: 120px;
  }
  @include mq(md) {
    top: 40px;
    left: 8%;
    width: 80px;
  }
  @include mq(ssm) {
    top: 10px;
    left: 8%;
    width: 70px;
  }
}
.floating_2 {
  animation: float 3s ease-in-out infinite;
  position: absolute;
  top: 15px;
  left: 15%;
  width: 150px;
  z-index: 2;
  @include mq(xl) {
    top: 30px;
    left: 10%;
    width: 120px;
  }
  @include mq(md) {
    top: 40px;
    left: 8%;
    width: 80px;
  }
  @include mq(ssm) {
    top: 10px;
    left: 8%;
    width: 70px;
  }
}
.floating_3 {
  animation: float 3s ease-in-out infinite;
  position: absolute;
  top: 15px;
  right: 15%;
  width: 150px;
  z-index: 2;
  @include mq(xl) {
    top: 100px;
    right: 5%;
    width: 120px;
  }
  @include mq(md) {
    top: 70px;
    right: 25%;
    width: 105px;
  }
}
