$cBase: #fff;
$cMain: #45afd8;
$cSub: #464646;
$cAccent: #fafabb;
$bgImg: url('../../img/bgi_suisai2.png');
$bgImg-sm: url('../../img/bgi_suisai2_small.png');
$bgImgFooter: url('../../img/bgi_suisai3.png');
$fontPrimary: 'Yusei Magic', serif;
$fontSecondary: 'Zen Maru Gothic', serif;
